.example-container {
  width: auto   ;
  height: 300px;
  margin: 10px;
  border: 1px solid #3d0202;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #f1e9e9;
}
